body {
  background: black;
  color: #fff;
  font-family: "Archivo Black", sans-serif;
  font-size: 3em;
  text-align: center;
  scrollbar-width: none;
}

/* Stili per il header */
#header {
  margin-top: 20px;
  text-align: center;
}

/* Se desideri stilizzare ulteriormente l'emoji (opzionale) */
#header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
  width: 100px;
  height: 90px;
  text-align: center;
  font-size: 16px;
  position: relative;
}

#heart span {
  width: 100%;
  display: block;
  top: 50%;
  z-index: 1;
}

#heart {
  width: 100px;
  height: 90px;
  text-align: center;
  font-size: 16px;
}

#heart span {
  width: 100%;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
}
